{% extends 'base.html.twig' %}

{% block title %}Liste des cours{% endblock %}

{% block body %}

<h1>Tous les cours</h1>

<p>{{ courses|length }} cours disponibles</p>

<hr>

<ul>
{% for course in courses %}
    <li>
        <strong>{{ course.titre }}</strong><br>
        Catégorie : {{ course.categorie }}<br>
        Niveau : {{ course.niveau }}<br>
        Exercices : {{ course.nb_exercices }}<br>
         
    </li>
    <hr>
{% else %}
    <li>Aucun cours disponible.</li>
{% endfor %}
</ul>

{% endblock %}